@model IEnumerable<SAT.DATA.EF.Course>

@{
    ViewBag.Title = "Courses - List View";
}

<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md py-2">

                @if (User.IsInRole("Admin"))
                {
                    <p>
                        <a class="btn btn-primary" href="@Url.Action("Create", "Courses")">Create</a>
                    </p>
                }

                <table class="table">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreditHours)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Curriculum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <img src="~/Content/img/courseimages/t_@item.CoursePhoto" alt="Product image" title="@item.CoursePhoto" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreditHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curriculum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                        </td>
                    </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
