@model SAT.DATA.EF.ScheduledClass

@{
    ViewBag.Title = "Details";
}

<div class="mb-2">
    <div class="card mb-3 col-md-8 mx-auto">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0"> @Html.DisplayNameFor(model => model.Course.CourseName):</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(model => model.Course.CourseName)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0"> @Html.DisplayNameFor(model => model.InstructorName):</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(model => model.InstructorName)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">  @Html.DisplayNameFor(model => model.Location):</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(model => model.Location)
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">   @Html.DisplayNameFor(model => model.StartDate):</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(model => model.StartDate)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">@Html.DisplayNameFor(model => model.EndDate):</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(model => model.EndDate)
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">@Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName):</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(model => model.ScheduledClassStatus.SCSName)
                </div>
            </div>
            <hr>
            <div class="form-group mt-4 mb-2">
                <div class="col-md-offset-2 col-md-12">
                    <!-- Delete Button-->
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledClassId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary float-end" })
                </div>
            </div>
        </div>
    </div>
</div>